/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
a{
	text-decoration: none;
	color: black;
}
a:visited{
	text-decoration: none;
	color: black;
}
a:hover {
	color:#B1663C;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.projet-filtre {
	display: flex;
	flex-direction: column;
}

.filtre {
	display: flex;
	flex-direction: row;
	margin-bottom:50px;
	justify-content: center;
	align-items: center;
}
.itemFiltre {
	border: solid #1D6154 1px ;
	border-radius: 50px;
	color:#1D6154;
	font-weight: bold;
	margin-right: 10px;
	padding: 5px 20px 5px 20px;
	cursor: pointer;
}

.itemFiltre-Selected{
	color:white;
	background-color: #1D6154;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.headerLogin {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 10px;
	background-color: black;
}
.headerLogin div {
	padding: 5px 10px 5px 10px;
	margin-right: 15px;
	border-radius: 50px;
	cursor:pointer;
}
.edition{
	color:white;
	display: flex;
	flex-direction: row;
}
.edition p  {
	margin-left: 5px;
}
.publier {
	background-color: white;
	color:black;
	width: auto;
	height: auto;
}
.menu-Modifier{
	display: flex;
	flex-direction: row;
	text-align: center;
	margin: 0 auto 0 auto;
}
.modifier {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top:-25px ;
	margin-left: 25px;
	cursor: pointer;
}
/* 
-------------------------------------------------------------------------------------------------------------------------------------------

MODAL EDITION 

-------------------------------------------------------------------------------------------------------------------------------------------
*/
.modal-Edition {
	position:fixed;
	display: none;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rbga(0, 0, 0, 0.8);
}
.modal-wrapper {
	position: relative;
	display:none;
	flex-direction: column;
	background-color: white;
	width:630px;
	height: 731px;
	border-radius: 10px;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 20px);
	padding:30px;
}
.modal-wrapper h1 {
	font-family: 'Work Sans';
	font-size: 26px;
	font-weight: 400;
	color:black;
	margin-left: auto;
	margin-right: auto;
}
.modal-wrapper figure {
	position: relative;
}
.modal-wrapper figure .fa-trash {
	position: absolute;
	font-size: 9px;
	top:10px;
	background-color: black;
	border-radius: 2px;
	color:white;
	padding:5px;
	right: 4px;
	cursor: pointer;
}

.modal-wrapper figure .fa-up-down-left-right{
	display: none;
	position: absolute;
	color:white;
	background-color: black;
	font-size: 9px;
	padding: 4px;
	border-radius: 2px;
	top:10px;
	right: 25px;
	cursor: pointer;
}
.modal-wrapper figure:hover .fa-up-down-left-right{
	display: flex;
}
.modal-wrapper hr {
	border-top: 1px solid #B3B3B3;
	margin-top:50px;
	width: 560px;
}
.div-modal {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	display: flex;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 5px;
	grid-row-gap: 5px;
	margin-left:40px;
}
.div-modal3 {
	margin-left: 40px;
	position: relative;
	display: flex;
	flex-direction: row;
}
.close {
    color: black;
    position: absolute;
    right: 30px;
    top:30px;
    float: right;
    font-size: 28px;
    font-weight: bold;
	cursor: pointer;
  }
.modal-Edition figure {
	width: 76.61px;
	height: 102.06px;
	margin-right: 40px;
	margin-top:50px
}
.modal-Edition figure img {
	width: 76.61px;
	height: 102.06px;
}
.ajout-photo {
	margin-top: 30px;
	background-color: #1D6154;
	padding: 20px 40px 20px 40px;
	color: white;
	border-radius: 50px;
	margin-left: auto;
	margin-right: auto;
}
.ajout-photo h2 {
	font-size: 14px;
	font-weight: 700;
	color: white;
	cursor: pointer;
}
.suppresion-galerie {
	color:#D65353;
	margin-top: 30px;
	font-size: 14px;
	font-weight: 400;
	margin-left: auto;
	margin-right: auto;
}


/* 
-------------------------------------------------------------------------------------------------------------------------------------------

MODAL AJOUT IMAGE 

-------------------------------------------------------------------------------------------------------------------------------------------
*/

.modal-wrapper-ajout {
	position: relative;
	display:flex;
	flex-direction: column;
	background-color: white;
	width:630px;
	height: 731px;
	border-radius: 10px;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 20px);
	padding:30px;
}
.modal-wrapper-ajout h1 {
	font-family: 'Work Sans';
	font-size: 26px;
	margin-top:30px;
	font-weight: 400;
	color:black;
	margin-left: auto;
	margin-right: auto;
}
.ajout-image {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 420px;
	height: 210px;
	margin-top:50px;
	background-color: #e1e6ea;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}
.ajout-image label img {
	position: absolute;
	top: 0;
	width: 420px;
	height: 210px;
	object-fit: cover;
	border: none;
	z-index: 2;
	margin-left: auto;
	margin-right: auto;
}
.ajout-image input {
	display: none;
}
.ajout-image p {
	margin-top: 10px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
}
.fa-arrow-left-long {
	position: absolute;
	top:35px;
	left: 45px;
	font-size: 25px;
	cursor: pointer;
}
.fa-image {
	margin-top: -30px;
	font-size:75px;
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}
.css-ajouter-photo {
	display: flex;
	margin-top: 30px;
	width: 150px;
	padding: 10px 15px 10px 15px;
	background-color: #CBD6DC;
	border-radius: 50px;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
}
.valider {
	margin-top:60px;
	background-color: #A7A7A7;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	margin : 2em auto ;
	width: 200px;
	padding: 15px 0 15px 0;
	text-align: center;
	border: #A7A7A7;
	border-radius: 60px;
	cursor: pointer;
	margin-left:auto;
	margin-right: auto;
}
.modal-wrapper-ajout hr {
	border-top: 1px solid #B3B3B3;
	margin-top:50px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}
.form-photo  {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}
.form-input p {
	margin-top: 20px;
	margin-left: 125px;
}
.form-input input{
	margin-top: 10px;
	width: 379px;
	height: 51px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-left: auto;
	margin-right: auto;
}
.modal-wrapper-ajout select{
	margin-top: 10px;
	width: 379px;
	height: 51px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-left: auto;
	margin-right: auto;
}

.form-input {
	display: flex;
	flex-direction: column;
	justify-content: center;
}




/*
-------------------------------------------------------------------------------------------------------------------------------------------

LOG IN

-------------------------------------------------------------------------------------------------------------------------------------------
*/

.body-login a {
	text-decoration: none;
	color:black;
}
.body-login a:hover {
	text-decoration: none;
	color:#B1663C;
}
.section-login{
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.section-login h2 {
	margin-left: auto;
	margin-right: auto;
}
.section-login form {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}
.section-login form p {
	margin-top: 20px;
}
.section-login form input{
	margin-top: 10px;
	width: 379px;
	height: 51px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.section-login .connexion{
	margin-top: 50px;
}
.section-login .mdp-oublie {
	text-decoration: underline solid black;
	display: flex;
	justify-content: center;
}
input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

.connexion {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
}

#tous, #objets, #appartements, #hotels {
	display: flex;
}
.categorie-1, .categorie-2, .categorie-3 {
	display: block;
}